body
{
	margin: 0;
	padding:0;
}

#bloc_page
{
	
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Header */

header
{
	background: rgb(255,255,255);
	position: fixed;
	z-index: 2;
	height:80px;
	//box-shadow:1px 1px 10px;
}

header img
{
	//display: block;
	width: 8%;
	background-color: black;
	margin:10px;
}

a
{
	text-decoration: none;
}

/* Navigation */



nav ul
{
	display: inline-block;
	position: absolute;
	right: 20%;
	left: 20%;
	top: 30%;
	bottom:30%;
	list-style-type: none;
	margin-top: 0%;
	font-size: 113%;
}
nav li
{
	display: inline-block;
	//margin-right: 20%;
	font-size: 113%;
}

nav a
{
	color:black;
	transition-property: color, width, height, border, background;
	transition-duration: 1s;
}
nav a:hover
{
	text-decoration: none;
	font-size:22px;
	color:rgb(0, 0, 220);
	border:1px solid blue;
	//background:rgb(90,90,90);
	padding:10px;
}

#imagedefond
{
	//z-index:1;
	position:fixed;
	top:50px;
	height:720px;
	width:100%;
	background:url(images/voyages0.jpg);
	background-size:100%;
}

#form_contener
{
	//z-index:3;
	position: absolute;
	top:100px;
	left:20px;
	width:400px;
	height:680px;
	//background-color:rgb(120,90,90);
	background-color:rgb(220,0,90);
	box-shadow: -20px 50px 14px;
	//color:white;
	opacity:0.3;
	border-radius: 19px;
}

form
{
	color:white;
	//z-index:1;
	position: absolute;
	top:100px;
	left:20px;
	text-align:left;
	width:400px;
	height:670px;
	padding-top:20px;
	//background-color:rgb(0,0,90);
	//box-shadow: 1px 1px 10px;
	border-radius: 19px;
}





/*
.obligatoire
{   
	background color:blue;
}

#profession
{
	background color:blue;
		
}*/


@media(max-width:700px)
{
	header img
	{
		//display: block;
		width: 16%;
		background-color: black;
		margin:10px;
	}
}


















